<div id="new-pledge-sidebar">
  <h3 class="campaign-stats">Campaign Info</h3>
  <p class="campaign-stats"><span class="stat-title">Number of Pledges:</span> <%= campaign.pledges.count %></p>
  <p class="campaign-stats"><span class="stat-title">Total Pledged:</span> <%= number_to_currency(campaign.total_pledged) %></p>
  <p class="campaign-stats"><span class="stat-title">Deadline:</span> <%= campaign.deadline.strftime("%b %d, %Y") %></p>
  <h3 class="campaign-stats">Active Campaigns</h3>
  <ul class="campaign-show-other-campaigns">
    <% campaigns.each do |c| %>
      <li class="campaign-show-other-campaign">
        <%= link_to c.title, campaign_path(c), :class => "other-campaigns-link"%>
      </li>
    <% end %>
  </ul>
</div>
