<p id="notice"><%= notice %></p>

<p>
  <b>Reason:</b>
  <%= @key_policy_maker.reason %>
</p>


<%= link_to 'Edit', edit_key_policy_maker_path(@key_policy_maker) %> |
<%= link_to 'Back', key_policy_makers_path %>
