<div id="majority-left-wrapper">
  <h1 class="info-page">About Politibuy</h1>
  <p id="info-page-intro">
    Politibuy is a web platform where citizens pledge money to encourage legislators to take
     action on issues that matter. We’re dedicated to the proposition that government is of 
     the people, by the people, for the people. Lincoln got it right in his Gettysburg Address.  
     Unfortunately, today, we’re getting it all wrong.<br/><br/>

    Our leaders are bending legislation to benefit special interest groups who contribute millions 
    of dollars to their campaigns. At the same time, unprecedented problems from the national 
    debt to climate change, from job creation to education, are going unaddressed.<br/><br/>

    Until the day that some brilliant soul finds a way to get money out of politics altogether (soon, 
    we hope!), we’re here to help ordinary Americans secure the legislation our country needs most. 
    We are the special interest for the public interest, and we’re here to put your dollars to work.
  </p>
  <h2 class="info-page">Here's how:</h2>
  <ul class="info-page about-list">
    <li class="info-page">
      <strong>Pick a campaign</strong><br />
      From healthcare reform to wasteful subsidies, choose an issue to let legislators know what’s 
      most important to you.
    </li>
    <li class="info-page">
      <strong>Make a pledge</strong><br />
      Money gets your voice heard in Washington. A large pool of pledges will incent lawmakers to 
      get something done.
    </li>
    <li class="info-page">
      <strong>Only pay for results</strong><br />
      If legislation passes in time, your pledge will go to Super PACs supporting the legislators 
      responsible. If not, you’re not out a dime!
    </li>
  </ul>
  <p class="info-page last-about">
    We know, we know, you may be thinking this idea is too outlandish to work. Or maybe you’re 
    thinking there’s a better way you could spend five minutes or five dollars. We used to do 
    the same thing. We are a team of young professionals with experience in consulting, finance, 
    clean energy and technology, and are fortunate enough to have been comfortably insulated from 
    many of the our nation’s greatest challenges.  However, we are not prepared to stand by as 
    our nation falters, and we’re betting that you aren’t either.  
  </p>
</div>

<div id="minority-right-wrapper" class="about-right-wrapper">
  <%= render :partial => 'layouts/right_sidebar' %>
</div>