<div id="majority-left-wrapper">
  <h1 class="info-page">About GetItPassed.org</h1>
  <p id="info-page-intro">
    GetItPassed.org is a web platform where citizens pledge money to encourage legislators to take 
    action on issues that matter. We’re dedicated to the proposition that government is of the 
    people, by the people, for the people. Lincoln got it right in his Gettysburg Address. 
    Unfortunately, today, we’re getting it all wrong.<br/><br/>

    Our leaders are bending legislation to benefit special interest groups who contribute millions 
    of dollars to their campaigns. At the same time, unprecedented problems from the national 
    debt to climate change, from job creation to education, are going unaddressed.<br/><br/>

    Until the day that some brilliant soul finds a way to get money out of politics altogether 
    (soon, we hope!), we’re here to help ordinary Americans gather together and lobby for 
    legislation our country needs most. We are the special interest for the American people, 
    and we’re here to put your dollars to work.<br/><br/>
  </p>
  <h2 class="info-page">Here's how:</h2>
  <ul class="info-page about-list">
    <li class="info-page">
      <strong>Pick a campaign</strong><br />
      From healthcare reform to wasteful subsidies, choose an issue where you'd like to see 
      politicians take action.
    </li>
    <li class="info-page">
      <strong>Make a pledge</strong><br />
      Make a monetary pledge to support legislators that vote for specific new laws or 
      reforms - we will automatically send a letter to key legislators informing them of 
      your pledge and that the issue is important to you.
    </li>
    <li class="info-page">
      <strong>Only pay for results</strong><br />
      A large pool of monetary pledges will send a strong signal to lawmakers to take action. 
      If and only if the law passes, your money will be used to support legislators that made 
      the law possible (and shame those that did not). If no law is passed, you keep 
      100% of your money!
    </li>
  </ul>
  <p class="info-page last-about">
    We know, we know, you may be thinking this idea is too outlandish to work. Or maybe you’re 
    thinking there’s a better way you could spend five minutes or five dollars. We certainly 
    never imagined we'd be actively lobbying politicians - our team is composed of young 
    professionals with backgrounds in consulting, finance, clean energy, and technology. However, 
    we are not prepared to stand by as our nation falters, and we’re betting that you aren’t either.
  </p>
</div>

<div id="minority-right-wrapper" class="about-right-wrapper">
  <%= render :partial => 'layouts/right_sidebar' %>
</div>