<div id="majority-left-wrapper">
  <h1 class="info-page">About Politibuy</h1>
  <p id="info-page-intro">
    Special interest groups spend millions of dollars on lobbying and campaign contributions 
    to get the policies they want - policies that are often bad for most Americans. Until we 
    can get money out of politics altogether, we think ordinary Americans should be able 
    to advocate for their interests as well.
  </p>
  <h2 class="info-page">What we do</h2>
  <p class="info-page">
    Politibuy.org is a web platform that enables citizens to pledge money to encourage 
    legislators to take action on issues that matter. Here's how:
  </p>
  <ul class="info-page">
    <li class="info-page">
      <strong>Pick a campaign:</strong><br /> From healthcare reform to fairer taxes, choose an issue to let 
      legislators know what's most important to you.
    </li>
    <li class="info-page">
      <strong>Make a pledge:</strong><br /> Money gets your voice heard in Washington. A large pool of 
      pledges will incent lawmakers to get something done.
    </li>
    <li class="info-page">
      <strong>Only pay for results:</strong><br /> If legislation passes in time, your pledge will go to 
      Super PACs supporting the legislators responsible. If not, you're not out a dime!
    </li>
  </ul>
</div>