<div id="info-page-wrapper">
<h1 class="info-page">Politibuy.org Code of Ethics</h1>

<p id="info-page-intro">Politibuy seeks to serve solely as a platform for enabling individuals and groups to advocate for legislation they believe in.  We will not restrict content simply because we disagree.  However, Politibuy depends on its community of users to act responsibly.   Politibuy will, at its discretion, remove, limit, modify, or restrict Content on its Site in order to ensure the Site stays in compliance with all laws and operates in a manner consistent with the values reflected by the Politibuy community.</p>

<h2 class="info-page">Principles</h2>
<p class="info-page">The following are example of principles that will inform Politibuy’s approvals of specific campaigns:</p>
<ul class="inner-list">
<li class="inner-list">We encourage free speech and defend everyone's right to express unpopular points of view. But we don't permit hate speech (speech which attacks or demeans a group based on race or ethnic origin, religion, disability, gender, age, veteran status, and sexual orientation/gender identity).</li>
<li class="inner-list">Politibuy is not a shock site. Don't post campaigns intended solely to shock or disgust.</li>
<li class="inner-list">Politibuy will not approve campaigns where benefits accruing from the campaign’s success will accrue to only one individual, company, or small group.  Policies promoted in a campaign should be broadly applicable to the nation or the community that the relevant legislature serves.  </li>
<li class="inner-list">Everyone hates spam. Don’t create misleading descriptions, tags, titles or thumbnails in order to increase views. It's not okay to post large amounts of untargeted, unwanted or repetitive content, including comments and private messages.</li>
</ul>
<br/>
<p class="info-page">
Please take these guidelines seriously and take them to heart. Don't try to look for loopholes or try to lawyer your way around the guidelines—just understand them and try to respect the spirit in which they were created. 
</p>

<h2 class="info-page">We Enforce This Code of Ethics</h2>
<p class="info-page">Politibuy staff review every campaign before it goes live to determine whether it is in compliance with our Code of Ethics. When they do not, we don’t post them. We may also elect to review a given campaign at any time and, if we determine that the campaign violates the Code of Ethics, we may remove the campaign without notice.  Accounts are penalized for Code of Ethics violations and serious or repeated violations can lead to account termination. If your account is terminated, you won’t be allowed to create any new accounts.</p>
</div>