<div id="info-page-wrapper">
<h1 class="info-page">Politibuy.org Privacy Policy</h1>

<h2 class="info-page">Effective Date: 10/1/2012</h2>
<p class="info-page">
Politibuy is committed to protecting your privacy. The following Privacy Policy describes our information collection practices on the politibuy.org website (the “Site”). This Privacy Policy does not apply to any information that you may provide to us or that we may collect offline or through other means (for example, via telephone or through the mail).
</p><br/>
<p class="info-page">
By visiting and using the Site, you agree that your use of the Site is governed by this Privacy Policy and our Terms of Service. We may need to change our Privacy Policy at some point in the future; in that case we will post the changes to our Privacy Policy on the Site and update the effective date to reflect the date of the changes. If you use the Site after we post any changes, you accept the Privacy Policy as modified.
</p>

<h2 class="info-page">Types of Information We May Collect</h2>
<p class="info-page">
Information you provide directly to us:  You do not have to identify yourself to use the Site.  If you choose to give us information about yourself, you decide how much information to provide. We may ask you for some or all of the following types of information when you register for certain services, access various content or features, or contact us directly:
</p>
<ul class="inner-list">
<li class="inner-list">1. Contact information, such as name, email address, postal address, phone number, fax number, and mobile number</li>
<li class="inner-list">2. User name and password</li>
<li class="inner-list">3. Demographic information, such as gender, date of birth, and zip code</li>
<li class="inner-list">4. Information posted in comments and other interactive online features</li>
<li class="inner-list">5. In limited circumstances, payment information, such as credit card number, where needed to complete a requested service or transaction</li>
<li class="inner-list">6. Correspondence you send to us</li>
</ul>
<p class="info-page">
Information we collect automatically:  We may collect certain information automatically when you visit the Site, including:
</p>
<ul class="inner-list">
<li class="inner-list">1. Your browser type and operating system</li>
<li class="inner-list">2. Your Internet Protocol (IP) address, which is the number automatically assigned to your computer whenever you access the Internet</li>
<li class="inner-list">3. Websites you visited before and after visiting the Site</li>
<li class="inner-list">4. Web pages you view and links you click on within the Site</li>
<li class="inner-list">5. Information collected through cookies and similar technologies.  A “cookie” is a small data file that is stored within your computer’s Internet browser when you visit websites. Cookies are accessed and recorded by the websites you visit to recognize the same browser online.  We use cookies to authenticate you and tailor your experience on the Site according to the preferences you specified.</li>
<li class="inner-list">6. Standard server log information</li>
</ul>

<h2 class="info-page">How We Use the Information We Collect</h2>

<p class="info-page">We only use payment information to complete a particular transaction, fulfill a service, or as otherwise required by law.</p>
<ul class="inner-list">
<li class="inner-list">1. We generally use other information we collect about you to.</li>
<li class="inner-list">2 .Fulfill your requests for products, services, and information, including to send you news and information about Priorities USA Action</li>
<li class="inner-list">3. Enable you to participate in features on the Site, such as comments</li>
<li class="inner-list">4. Analyze the use of the Site and information about visitors to the Site to understand and improve our Site and service offerings</li>
<li class="inner-list">5. Systems administration and troubleshooting</li>
<li class="inner-list">6. Customize the content you see when you visit the Site</li>
<li class="inner-list">7. Prevent potentially prohibited or illegal activities and otherwise in accordance with our Terms of Use</li>
<li class="inner-list">8. For any other purposes disclosed to you at the time we collect your information or pursuant to your consent</li>
</ul>

<h2 class="info-page">Whether We Disclose the Information We Collect</h2>

<p class="info-page">We are committed to maintaining your trust, and we want you to understand when and with whom we may share information collected about you.  We may disclose information we collect in the following circumstances:</p>
<ul class="inner-list">
<li class="inner-list">1. <strong>Information posted in public forums.</strong>  By posting comments on the Site, your comments, along with you first name, city, and state will be available to the public.  Please remember that any information you disclose in public forums becomes public information. We cannot prevent such information from being used by third parties in a manner that may violate the law or your personal privacy or safety.</li>
<li class="inner-list">2. <strong>Third-party service providers.</strong>  We share your information with third-party vendors who help us with specialized services, such as customer support, email message deployment, analytics, marketing, and data processing].  These third parties are allowed to use your information to help us provide our services and not for any other purposes.</li>
<li class="inner-list">3. <strong>Third-party partners.</strong>  We may share your information with organizations with similar political objectives and viewpoints for the purpose of advancing our objectives.</li>
<li class="inner-list">4. <strong>Business transfers.</strong>  We may share your information in connection with a substantial corporate transaction, such as the sale of the Site, a merger or consolidation, or in the unlikely event of bankruptcy.</li>
<li class="inner-list">5. <strong>Legal requirements.</strong>  We may disclose information about our users to respond to subpoenas, court orders, legal process, and other law enforcement measures, and to comply with other legal obligations.  We are required by state law to collect and report the name, address, occupation, and employer of individuals who make contributions to Politibuy. This information is made publicly available by the government agencies with whom the committee files its reports.</li>
<li class="inner-list">6. <strong>Protection of our Site and users.</strong>  We may disclose information to protect and defend the legal rights, interests, and safety of Politibuy, our employees, agents, and contractors; to protect the safety and security of our website users and members of the public; and as otherwise disclosed in our Terms of Use. </li>
<li class="inner-list">7. <strong>Otherwise with your consent</strong></li>
</ul>

<h2 class="info-page">How To Exercise Choice</h2>
<p class="info-page">
You may choose to enjoy certain content and features on the Site without directly providing us with any information about you.  Subscribers to our email list may terminate their subscriptions via the link provided at the bottom of each email sent from politibuy.org. 
</p>
<h2 class="info-page">How To Access and Correct Information about You</h2>
<p class="info-page">
You may change your subscriber information or certain other information about you that is maintained by us and is readily accessible in the ordinary course of business by contacting us at politibuy.org.  Please note that we may need to retain some information about you in order to satisfy our legal and security obligations. For example, some of your information may remain in back-up storage even if you ask us to delete it.
</p>
<h2 class="info-page">Children’s Privacy Statement</h2>
<p class="info-page">
To help ensure the safety and privacy of children, we comply with the Children’s Online Privacy Protection Act of 1998. We do not knowingly collect personal information from children under the age of 13. The Site is not intended to solicit personal information of any kind from children under 13, and we have designed it to block our knowing acceptance of personal information from children under 13 whenever age-related information is requested.
</p><br/>
<p class="info-page">
If we become aware that we have inadvertently received personal information from a user under the age of 13 as part of the Site, we will promptly delete such information from our records.
</p>

<h2 class="info-page">Security</h2>
<p class="info-page">
We have adopted commercially reasonable technical, administrative, and physical procedures to help protect against the loss, misuse or alteration of the information under our control. In general, access to user data is limited only to those persons and organizations necessary to its proper functioning. We use encryption, such as the Secure Socket Layer (SSL) protocol, for highly sensitive data including credit card information. Our servers are located in a locked environment.  Please note that no data transmission or storage can be guaranteed to be 100% secure.  We want you to feel confident using the Site, but we cannot guarantee or warrant the security of any information you transmit to us. 
</p>
<h2 class="info-page">Links</h2>
<p class="info-page">
The Site may provide links to third-party websites. We are not responsible for the content or privacy policies of these sites. When you access another website through the links on this Site, the use of any information you provide is governed by the privacy policy of the operator of the site you are visiting, so please be sure to read the privacy statements for each website you visit.
</p>
<h2 class="info-page">Questions</h2>
<p class="info-page">
If you have any questions about our Privacy Policy, the information we have collected from you online, the practices of this Site or your interaction with the Site, please contact us at info<i>[AT]</i>politibuy.org.
</p>
</div>