<div id="majority-left-wrapper">
  <h1 class="campaign-show-title">Ban carbon emissions for all coal-fired power plants in North Carolina</h1>
  <p class="campaign-show-description">
    Emissions from coal fired power plants cause, among
    other travesties, birth deformities among children
    within a 200 mile radius of the emission source.
    Unless you were near a power plant at birth, rendering
    you unable to type for lack of sufficient digits, you
    should join in limiting these emissions.
  </p>
</div>
<div id="minority-right-wrapper">
  <%= image_tag "ad_demo.png", :id => "ad-demo" %>
</div>





<%
=begin%>
<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
<%
=end
%>