/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


html, body {
 padding: 0px;
 margin: 0px;
 font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
 width: 100%;
 height: 100%;
 background-color: #000077;
}

a{
 text-decoration: none;
 font-weight: bold;
}

h1, h2, h3, h4, p{
  margin: 0px;
  padding: 0px;
}

ul, li{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

input{
  margin-left: 0px;
  margin-top: 5px;
  border: solid 1px #CCCCCC;
  font-size: 16px;
  padding: 5px;
  margin-bottom: 15px;
}

input[type="submit"]{
  margin-bottom: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  padding: 6px;
  padding-left: 8px;
  padding-right: 8px;
  border: solid 1px #888888;
  
  background: #eeeeee; /* Old browsers */
  background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
  
  &:hover {
    cursor: pointer;
    background: #eeeeee; /* Old browsers */
  }
  
}

textarea{
  margin-left: 0px;
  margin-top: 5px;
  border: solid 1px #CCCCCC;
  font-size: 16px;
  padding: 5px;
  margin-bottom: 15px;
}

select{
  margin-top: 12px;
  margin-bottom: 15px;
  font-size: 16px;
}

input[type="checkbox"]{
  margin-top: 10px;
}

#all-content-outer{
  position: relative;
  width: 100%;
  background-color: white;
  min-width: 900px;
}

#all-content-inner{
  position: relative;
  width: 900px;
  margin: auto;
  min-height: 800px;
  z-index: 1;
/*  border: solid 1px purple;*/
  overflow: hidden;
}

div#flash-wrapper-outer{
  position: absolute;
  width: 900px;
  top: 65px;
  background-color: #C00;
  height: 36px;
}

div.flash-wrapper-inner{
  display: inline-block;
}

img.notice{
  position: relative;
  float: left;
  margin-left: 12px;
}

p.notice{
  color: white;
  font-weight: bold;
  display:inline-block;
  margin-left: 5px;
  line-height: 36px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
  font-size: 18px;
}

p.alert{
  color: white;
  font-weight: bold;
  display:inline-block;
  margin-left: 5px;
  line-height: 36px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
  font-size: 18px;
}


#majority-left-wrapper{
/*  border: solid 1px green;*/
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 620px;
  float: left;
}

#minority-right-wrapper{
  width: 232px;
  float: right;
  position: relative;
}

#header{
  width: 100%;
  height: 101px;
  color: white;
  position: relative;
}

#main-logo{
  position: relative;
  top: 13px;
  height: 40px;
}

#login-links{
  font-size: 18px;
  position: absolute;
  right: 0px;
  top: 24px;
}

.header-links{
  color: white;
}

h1#intro-text{
  font-size: 50px;
  text-align: center;
  margin-top: 60px;
}

#footer-outer{
 width: 100%;
 background-color: #000077;
 border-top: solid 4px #BB0000;
}

#footer-inner{
  width: 900px;
  margin: auto;
  height: 100px;
  position: relative;
}

#footer-links{
/*  border: solid 1px green;*/
  width: 355px;
  left: 4px;
  margin: auto;
  font-size: 18px;
  position: relative;
  margin-top: 50px;
}

.footer-link{
  color: white;
}

span.divider-star{
  margin-right: 4px;
  margin-left: 4px;
}

div#footer-legal-disclaimers{
  position: relative;
  margin-top: 30px;
  color: white;
  font-size: 12px;
}

p#copyright{
  text-align: center;
  margin-bottom: 5px;
}

p#affiliation{
  text-align: center;
}

#footer-social-media-buttons{
  position: absolute;
  top: -20px;
}

#footer-tweet{
  margin-bottom: 4px;
}

#fb-like-footer{
  margin-bottom: 7px;
  z-index: 1000;
}
  
#gplus-footer{
    
}