// Place all the styles related to the Campaigns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
  CAMPAIGN SHOW LEFT SIDE
*/

h1.campaign-show-title{
  margin-top: 25px;
  font-size: 26px;
  margin-bottom: 12px;
}

p.campaign-show-description{
  font-size: 20px;
  font-weight: bold;
  color: gray;
  line-height: 1.2em;
  border-bottom: dashed 1px #0000AA;
  padding-bottom: 10px;
}

h2.campaign-show-objective{
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 2px;
}

p.campaign-show-objective{
  font-size: 18px;
  color: #444444;
  border-bottom: dashed 1px #0000AA;
  padding-bottom: 7px;
  line-height: 1.4em;
}

.campaign-show-pledge-banner-outer{
  height: 100px;
  width: 100%;
  border-top: solid 1px #AA0000;
  border-bottom: solid 1px #880000;
  margin-top: 20px;
  
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  
  background: #dd0000; /* Old browsers */
  background: -moz-linear-gradient(top,  #dd0000 0%, #aa0000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dd0000), color-stop(100%,#aa0000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #dd0000 0%,#aa0000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #dd0000 0%,#aa0000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #dd0000 0%,#aa0000 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #dd0000 0%,#aa0000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd0000', endColorstr='#aa0000',GradientType=0 ); /* IE6-9 */
  
  margin-bottom: 30px;
}

.campaign-show-pledge-banner-inner{
  width: 100%;
  height: 100%;
  background-image: url("texture_1.png");
  position: relative;
}

.campaign-show-amount-wrapper{
  display: inline-block;
  padding-left: 50px;
  margin-top: 22px;
  color: white;
  text-shadow: 1px 1px 5px rgba(40, 40, 40, 0.8);
}

h2.campaign-show-amount{
  font-size: 34px;
  margin-bottom: 2px;
  text-align: center;
}

h4.campaign-show-subtext{
  font-size: 15px;
  text-align: center;
}

a#submit-pledge-link{
  right: 40px;
}

.campaign-image-recipient-wrapper{
  position: relative;
/*  border: solid 1px purple;*/
  height: 200px;
  margin-bottom: 20px;
}

.campaign-main-image-wrapper{
/*  border: solid 1px green;*/
  width: 325px;
  height: 200px;
  overflow: hidden;
  float: left;
  position: relative;
}


.campaign-deadline-backdrop{
  position: absolute;
  bottom: 0px;
  height: 70px;
  width: 100%;
  background-color: black;
  opacity: 0.7;
}

h4.campaign-deadling-header{
  position: absolute;
  color: white;
  bottom: 40px;
  text-align: center;
  font-size: 18px;
  width: 100%;
  text-shadow: 1px 1px 5px rgba(40, 40, 40, 0.8);    
}

h1.campaign-deadline{
  position: absolute;
  color: white;
  bottom: 15px;
  text-align: center;
  font-size: 21px;
  width: 100%;
  text-shadow: 1px 1px 5px rgba(40, 40, 40, 0.8);  
}


.campaign-recipients-wrapper{
/*  border: solid 1px green;*/
  height: 200px;
  width: 270px;
  float: right;
  position: relative;
}

h3.campaign-subsection{
  position: relative;
  top: -4px;
  font-size: 17px;
  margin-bottom: 8px;
}

.campaign-recipient-wrapper{
  position: relative;
/*  border: solid 1px green;*/
  padding-left: 70px;
  margin-bottom: 12px;
}

h4.campaign-recipient-name{
  font-size: 15px;
  margin-bottom: 5px;
}

p.campaign-recipient-bio{
  font-size: 13px;
}

img.campaign-recipient-image-small{
  position: absolute;
  height: 60px;
  top: 1px;
  left: 0px;
}

a.campaign-show-see-more-recipients{
  position: absolute;
  bottom: -2px;
  left: 0px;
  font-size: 14px;
  text-decoration: underline;
  color: #0000AA;
}

.campaign-participants-section{
/*  border: solid 1px green;*/
  margin-bottom: 10px;
}

h2.campaign-section{
  font-size: 20px;
}

ul.campaign-participants-wrapper{
/*  border: solid 1px green;*/
  margin-top: 12px;
  overflow: hidden;
}

$participant-width: 40px;
$participant-spacing: 8px;

li.participant-wrapper{
  width: $participant-width;
  float: left;
  margin-right: $participant-spacing;
  margin-bottom: $participant-spacing;
  position: relative;
}

li.edge-participant{
  margin-right: 0px;
}

.participant-image-wrapper{
  width: $participant-width;
  height: $participant-width;
  overflow: hidden;
}

img.participant-pic{
  width: $participant-width;
}

.participant-amount-wrapper{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  top: 0px;
  left: 0px;
}

h4.participant-amount{
  display: none;
  height: $participant-width;
  line-height: $participant-width;
  width: 100%;
  color: white;
  text-shadow: 1px 1px 5px rgba(40, 40, 40, 0.8);  
  text-align: center;
  word-wrap: break-word;
  position: absolute;
  top: 0px;
  font-size: 15px;
  &:hover{
    cursor: default;
  }
}

.campaign-updates-section{
  margin-bottom: 50px;
}

ul.campaign-updates{

}

li.campaign-update{
  padding-left: 48px;
  position: relative;
  margin-top: 12px;
  margin-bottom: 25px;
}

a.campaign-update{
  color: #000077;
  font-size: 17px;
  font-weight: bold;
}

p.campaign-update-preview{
  margin-top: 5px;
  font-size: 16px;
  color: #333333;
}

a.campaign-update-read-more{
  font-size: 14px;
  text-decoration: underline;
  color: #000077;
}

p.campaign-update-date{
/*  border: solid 1px green;*/
  position: absolute;
  left: 0px;
  min-width: 32px;
  text-align: right;
  font-size: 12px;
  color: #555555;
}

p.campaign-update-date-month{
  top: 0px;
}

p.campaign-update-date-day{
  top: 12px;
  font-size: 32px;
}

p.campaign-update-date-year{
  top: 42px;
}

.campaign-bottom-action-links{
  width: 100%;
  height: 40px;
  background-color: #BB0000;
  position: relative;
}


a.campaign-bottom-links{
  position: absolute;
  color: white;
  font-size: 14px;
  font-weight: bold;
  top: 14px;
  &:hover{
    text-decoration: underline;
  }
}

a#return-to-campaigns{
  left: 20px;
}

a#like-bottom{
  right: 117px;
}

a#tweet-bottom{
  right: 70px;
}

a#pledge-bottom{
  right: 15px;
}


/*
  CAMPAIGN SHOW RIGHT SIDE
*/

img#ad-demo{
  position: relative;
  margin-top: 32px;
/*  left: 18px;*/
}

h4.campaign-show-other-campaigns{
  margin-top: 25px;
  margin-bottom: 15px;
}

ul.campaign-show-other-campaigns{
  
}

li.campaign-show-other-campaign{
  margin-bottom: 12px;
  line-height: 1.3em;
}

a.other-campaigns-link{
  color: #0000AA;
  text-decoration: underline;
}