// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  padding: 0px;
  margin: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a{
  text-decoration: none;
}

.header-bar{
  width: 100%;
  position: absolute;
  min-width: 900px;
}

#header-blue{
  height: 65px;
  background-color: #0000CC;
}

#header-red-top{
  height: 12px;
  top: 65px;
  background-color: #CC0000;
}

#header-red-bottom{
  top: 89px;
  height: 12px;
  background-color: #CC0000;
}

#all-content-outer{
  position: relative;
  width: 900px;
  margin: auto;
  // background-color: purple;
  height: 100px;
}

#header{
  width: 100%;
  height: 101px;
  color: white;
  position: relative;
}

#main-logo{
  position: relative;
  top: 13px;
  height: 40px;
}

#login-links{
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 22px;
  font-weight: bold;
}

.header-links{
  color: white;
}

h1#intro-text{
  font-size: 30px;
  text-align: center;
  margin-top: 60px;
}