// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-bar{
  width: 100%;
  position: absolute;
  min-width: 900px;
}

#header-blue{
  top: 0px;
  height: 65px;
  background-color: #0000AA;
}

#header-red-top{
  height: 12px;
  top: 65px;
  background-color: #CC0000;
}

#header-red-bottom{
  top: 89px;
  height: 12px;
  background-color: #CC0000;
}

#landing-image-outer{
  position: absolute;
  top: 113px;
  width: 100%;
  height: 350px;
  overflow: hidden;
  min-width: 900px;
/*  border-top: solid 1px #0000AA;*/
}

img#landing-image{
  /* Set rules to fill background */
	min-height: 350px;
	min-width: 1000px;

	/* Set up proportionate scaling */
	width: 100%;
	height: auto;
	
	position: absolute;
	top: 0px;
	left: 0px;
}

#landing-image-text{
  width: 900px;
  margin: auto;
  position: relative;
  top: 120px;
/*  border: solid;*/
}

img#landing-intro-text{
  position: relative;
  left: 163px;
}

#landing-call-to-action-outer{
  position: absolute;
  top: 463px;
  width: 100%;
  height: 100px;
  min-width: 900px;
  border-top: solid 1px #AA0000;
  border-bottom: solid 1px #880000;
  
  background: #dd0000; /* Old browsers */
  background: -moz-linear-gradient(top,  #dd0000 0%, #aa0000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dd0000), color-stop(100%,#aa0000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #dd0000 0%,#aa0000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #dd0000 0%,#aa0000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #dd0000 0%,#aa0000 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #dd0000 0%,#aa0000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd0000', endColorstr='#aa0000',GradientType=0 ); /* IE6-9 */
  
}

#landing-call-to-action-inner{
  width: 100%;
  height: 100%;
  min-width: 900px;
  background-image: url("texture_1.png");
}

#landing-call-buttons-wrapper{
  width: 900px;
  margin: auto;
  position: relative;
  z-index: 2;
}

a.landing-callaction-button{
  background-color: blue;
  color: white;
  border-top: solid 1px #5555CC;
  border-left: solid 1px #5555CC;
  width: 210px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  font-size: 18px;
  position: absolute;
  top: 28px;
  font-weight: bold;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  
  text-shadow: 1px 1px 5px rgba(40, 40, 40, 0.8);
  
  -webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 0.75);
  box-shadow:         1px 1px 5px rgba(50, 50, 50, 0.75);
  
  background: #1000ff; /* Old browsers */
  background: -moz-linear-gradient(top,  #1000ff 1%, #0f00b7 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#1000ff), color-stop(100%,#0f00b7)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #1000ff 1%,#0f00b7 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #1000ff 1%,#0f00b7 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #1000ff 1%,#0f00b7 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #1000ff 1%,#0f00b7 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1000ff', endColorstr='#0f00b7',GradientType=0 ); /* IE6-9 */
  
  &:hover{
    background: #1000ff; /* Old browsers */
    background: -moz-linear-gradient(top,  #1000ff 50%, #0f00b7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#1000ff), color-stop(100%,#0f00b7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #1000ff 50%,#0f00b7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #1000ff 50%,#0f00b7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #1000ff 50%,#0f00b7 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #1000ff 50%,#0f00b7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1000ff', endColorstr='#0f00b7',GradientType=0 ); /* IE6-9 */
  }
}

a#landing-browse-button{
  left: 170px;
}

a#landing-signup-button{
  right: 170px;
}

img#landing-seal{
  position: absolute;
  top: 8px;
  left: 408px;
}

#landing-how-works-outer{
  position: absolute;
  top: 600px;
  width: 100%;
  min-width: 900px;
}

#landing-how-works-inner{
  height: 100%;
  width: 900px;
  margin: auto;
  padding-left: 20px;
}

div.landing-how-step{
  width: 250px;
  display: inline-block;
  float: left;
  margin-right: 50px;
}

h4.landing-how-step{
  text-align: center;
  margin-top: 0px;
  font-size: 20px;
  font-weight: bold;
  color: #880000;
  border-bottom: solid 1px #880000;
  padding-bottom: 7px;
}

p.landing-how-step{
  margin-top: 10px;
  line-height: 1.5em;
  text-align: center;
}

/*
  STARTER LANDING PAGE
*/

form#request-invite-form{
/*  border: solid 1px green;*/
/*  display: none;*/
  width: 550px;
  margin: auto;
  position: relative;
  margin-top: 385px;
}

#request-invite-form input{  
/*  margin-left: 10px;*/
/*  height: 24px;*/
}

input#invite-email-field{
  height: 33px;
  font-size: 18px;
  position: relative;
  width: 305px;
  padding-left: 10px;
  border-left: solid 1px #770000;
  border-top: solid 1px  #770000;
  -webkit-border-radius:  3px;
  -moz-border-radius:     3px;
  border-radius:          3px;
}

input#request-invite-button{
  
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
/*  font-weight: bold;*/
  background-color: blue;
  color: white;
  border-bottom: solid 1px black;
  border-right: solid 1px  black;
  width: 210px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  font-size: 18px; 
  float: right;
/*  font-weight: bold;*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  
  text-shadow: 1px 1px 3px rgba(40, 40, 40, 0.9);
  
  -webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 0.75);
  box-shadow:         1px 1px 5px rgba(50, 50, 50, 0.75);
  
  background: #1000ff; /* Old browsers */
  background: -moz-linear-gradient(top,  #1000ff 1%, #0f00b7 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#1000ff), color-stop(100%,#0f00b7)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #1000ff 1%,#0f00b7 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #1000ff 1%,#0f00b7 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #1000ff 1%,#0f00b7 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #1000ff 1%,#0f00b7 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1000ff', endColorstr='#0f00b7',GradientType=0 ); /* IE6-9 */
  
  &:hover{
    cursor: pointer;
    background: #1000ff; /* Old browsers */
    background: -moz-linear-gradient(top,  #1000ff 50%, #0f00b7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#1000ff), color-stop(100%,#0f00b7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #1000ff 50%,#0f00b7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #1000ff 50%,#0f00b7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #1000ff 50%,#0f00b7 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #1000ff 50%,#0f00b7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1000ff', endColorstr='#0f00b7',GradientType=0 ); /* IE6-9 */
  }
}



div#invitation-thank-you{
  display: none;
  margin-top: 380px;
}

p#invitation-thank-you{
  text-align: center;
/*  font-weight: bold;*/
  margin: 0px;
  height: 60px;
  color: white;
  font-size: 25px;
  text-shadow: 0px -1px 0px rgba(40, 40, 40, 0.8);
}

.fb-like-span{
  position: relative;
  top: -4px;
}

#invitation-social-media-buttons{
/*  border: solid 1px green;*/
  width: 500px;
  margin: auto;
  padding-left: 300px;
  position: relative;
  top: -18px;
}

/*
  STATIC INFO PAGES
*/

h1.info-page{
  margin-top: 40px;
  border-bottom: solid 1px #A00;
  margin-bottom: 18px;
  font-size: 20px;
  padding-bottom: 10px;
  color: #A00;
}

p#info-page-intro{
  font-size: 15px;
  line-height: 1.2em;
}

h2.info-page{
  color: #A00;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 15px;
}

p.info-page{
  font-size: 15px;
}

ul.info-page{
  margin-top: 20px;
  font-size: 15px;
}

ul.about-list{
  margin-bottom: 30px;
  padding-left: 20px;
}

li.info-page{
  margin-top: 20px;
  font-size: 15px;
}

ul.inner-list{
  margin-top: 10px;
  margin-left: 40px;
  margin-bottom: 10px;
  font-size: 15px;
}

li.inner-list{
  margin-top: 10px;
}

#info-page-wrapper{
  margin-bottom: 40px;
}

p.last-about{
  margin-bottom: 50px;
  font-size: 15px;
}

.about-right-wrapper{
  padding-top: 13px;
}

h3.about-right{
  color: #A00;
  padding-bottom: 10px;
  border-bottom: solid 1px #A00;
  text-align: center;
  width: 190px;
  margin: auto;
  margin-top: 30px;
}

ul.about-blog-entry{
  padding-left: 20px;
}

li.about-blog-entry{
  margin-top: 22px;
}

p.about-blog-entry-date{
  font-style: italic;
  font-size: 14px;
}

a.about-blog-entry{
  color: #00A;
}