<h3 class="about-right">Blog Posts</h3>
<ul class="about-blog-entry">
  <li class="about-blog-entry">
    <p class="about-blog-entry-date">10/4/2012</p>
    <%= link_to "Pharma lobbying = high drug prices and taxpayer waste", "http://blog.politibuy.org/pharma-lobbying-prices/", :class => "about-blog-entry", :target => "_blank" %>
  </li>
  <li class="about-blog-entry">
    <p class="about-blog-entry-date">10/3/2012</p>
    <%= link_to "Bank lobbying and the financial crisis", "http://blog.politibuy.org/banking-lobbying-crisis/", :class => "about-blog-entry", :target => "_blank" %>
  </li>
  <li class="about-blog-entry">
    <p class="about-blog-entry-date">10/2/2012</p>
    <%= link_to "Introducing Politibuy!", "http://blog.politibuy.org/intro/", :class => "about-blog-entry", :target => "_blank" %>
  </li>
</ul>
<h3 class="about-right">Twitter Feed</h3>
<div class="twitter-feed"></div>